---
import Layout from '../../layouts/Layout.astro';
import style from '../../styles/team.css';
---
<Layout>
    <div class="team-page">
        <link rel="stylesheet" href={style} />
        <astro:head>
            <title>Team</title>
        </astro:head>
        <astro:style>
            {style}
        </astro:style>
        <div class="team-content">
            <slot />
        </div>
    </div>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    </head>
    <h1 class="title">TEAM</h1>
    <div class="container">
        <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
        <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
        <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
        <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
	    <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
	    <div class="yellow-card">
            <h2>Joaquín Domínguez</h2>
            <p>Desarrollador Frontend</p>
            <p><a href="#">LinkedIn</a> | <a href="#">GitHub</a> | <a href="#">Ver CV</a></p>
            <p>Apasionado por construir productos web accesibles</p>
        </div>
    </div>
</Layout>
