---
import Layout from '../../layouts/Layout.astro';
import '../../style/about_us.css';

---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
<Layout>
<section class="about-us-section">
    <h2 class="principal_title">ABOUT US</h2>
    
    <div class="about-content-block">
        <h3>Who we are</h3>
        <p>Olympus develops custom software solutions for individuals and businesses. We specialize in technologies such as JavaScript, HTML, CSS, Python, Astro, MySQL, Node.js, Express.js, and Flask, with an agile, scalable, and high-quality approach.</p>
    </div>
    
    <div class="about-content-block">
        <h3>Our Mission</h3>
        <p>We turn complex challenges into digital oportunities by leveraging innovative technologies, agile methodologies, and secure, user-focused systems.</p>
    </div>
    
    <div class="about-content-block">
        <h3>Our Vision</h3>
        <p>To be development team recognized for our creativity and ability to solve technological challenges-sharing our projects, continuing to learn, and connecting with new opportunities in the software industry.</p>
    </div>

    <h2 class="team-section-title">OUR TEAM</h2>
    
    <div class="team-description">
        <p>At Olympus, we believe that teamwork is the foundation of success. We are a committed, organized, and passionate group dedicated to creating quality solutions. Every week we meet to set new goals, share ideas, and continue evolving together.</p>
    </div>

    <div class="video-container">
        <video controls>
            <source src="/videos/reunion_olympus.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>
</Layout>



