---
import '../../style/contact.css';
import Layout from '../../layouts/Layout.astro';
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

<Layout>
<section class="contact-section">
  <h2 class="contact-title">CONTACT</h2>
  <h3 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 2rem;">Your next project starts here</h3>
  <form class="contact-form">
    <label>
      Name:
      <input type="text" name="name" placeholder="Santiago Suarez" required/>
    </label>
    <label>
      Email:
      <input type="email" name="email" placeholder="example@gmail.com" required/>
    </label>
    <label>
      Phone number:
      <input type="tel" name="phone" placeholder="+54 9 11 1234-5678" required/>
    </label>
    <label>
      Message:
      <textarea name="message" placeholder="Write your message here" required></textarea>
    </label>
    <button type="submit">SEND NOW</button>
  </form>
</section>
</Layout>