---
import "../../style/home.css";
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">


<header> 
    <p>aca va el header</p>
</header>

<h1 class="title">We build custom software with innovation, agility, and a user-centered focus. Let us turn your idea into a high-impact digital product</h1>
<h1 class="project">PROJECTS</h1>

<div class="inicio">
    <div class="title-turify">
        <a href="https://www.turify.com" target="_blank" rel="noopener noreferrer">
            <img src="/images/turify-logo-recort.png" alt="Turify Logo" width="250" height="auto">
        </a>
        <p>We build custom software with innovation, agility</p>
    </div>

</div>
<div class="home">
    <h1 class="titles">What motivates us</h1>
    <p>As a team of software developers, we are motivated by our shared passion for technology and problem-solving. We enjoy the creative process of turning ideas into functional solutions that can make a real impact. Working together allows us to learn from one another, grow our skills, and tackle challenges more effectively. What drives us is not just writing code, but building meaningful tools that improve experiences, solve real-world problems, and contribute to something larger than ourselves.</p>
    <h1 class="titles">The future we see</h1>
    <p>We see the future as a space full of opportunities, where software continues to transform the way people live, learn, and connect. We believe that technologies like artificial intelligence, automation, and human-centered design will play a key role in shaping that future. Our vision is to develop ethical, scalable, and innovative solutions that are not only relevant today but also prepared for the challenges of tomorrow. For us, the future is something we want to help create—not just react to.</p>
</div>
<footer>
    <p>aca va el footer</p>
</footer>

