---
import "../../style/home.css";
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">


<header> 
    <p>aca va el header</p>
</header>

<h1 class="title">Projects</h1>

<div class="inicio">
    <div class="title-turify">
        <img src="/images/logo.png" alt="Turify Logo" width="250" height="auto">
        <img src="/images/tuify.png" alt="Turify" width="270" height="auto" style="margin-top: 20px;">
    </div>
    <div class="info">
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus quasi quaerat incidunt aperiam ipsam, sit iste impedit odit ab nisi neque fugit id distinctio dolor excepturi optio doloribus similique? Deleniti.
        </h2>
        <a href="https://turify.com" style="color: #004CF0; text-decoration: none;">Ir a Turify</a>
    </div>
</div>

<footer>
    <p>aca va el footer</p>
</footer>

