---
import "../../style/home.css";
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">


<header> 
    <p>aca va el header</p>
</header>

<h1 class="title">We build custom software with innovation, agility, and a user-centered focus. Let us turn your idea into a high-impact digital product</h1>
<h1 class="project">PROJECTS</h1>

<div class="inicio">
    <div class="title-turify">
        <img src="/images/logo.png" alt="Turify Logo" width="250" height="auto">
        <p>aca va el proyecto</p>
    </div>

</div>
<div class="home">
    <h1 class="titles">What motivates us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ipsum iste sequi odit sint illum veniam neque, voluptas ratione impedit voluptates obcaecati iure ut fugiat, vitae fuga nam minus dolore?</p>
    <h1 class="titles">The future we see</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, magni magnam? Sit reprehenderit facilis amet veniam enim, ullam, omnis fuga iste nemo nihil eius maiores. Doloremque cupiditate assumenda recusandae earum.</p>
</div>
<footer>
    <p>aca va el footer</p>
</footer>

