---
---
<footer class="olympus-footer">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
  <div class="footer-left">
    <span class="footer-icon">&#169;</span> 2025 OLYMPUS. All rights reserved.
  </div>
  <div class="footer-right">
    <div>
      <span class="footer-icon">&#128233;</span> contacto@olympus.com
    </div>
    <div>
      <span class="footer-icon">&#x1F4F1;</span> +54 9 11 1234-5678
    </div>
  </div>
</footer>