---
import '../../style/projects.css';
import Layout from '../../layouts/Layout.astro';    
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
<Layout>
    <section class="projects">
      <h1>PROJECTS</h1>
      <div class="project-detail">
        <div class="project-card-home">
          <a href="https://turify.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="/images/turify-logo-recort.png" alt="Turify Logo" class="turify-logo">
          </a>
        </div>
        <div class="project-description">
          <p>Turify is a comprehensive digital platform designed to enhance the experience of tourists visiting San Rafael, Mendoza. It centralizes all relevant tourist information about the destination, including landmarks, activities, gastronomy, accommodations, and local events.</p>
          <a href="https://turify.vercel.app/" target="_blank" class="turify-link">Ir a Turify</a>
        </div>
      </div>
    </section>
</Layout>